.leagueTitle {
  padding-bottom: 15px;
}

.img {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--event-menu-border);
  border-radius: 10px;
  margin-right: 18px;
}

.img img {
  border-radius: 12px;
}

.title h3 {
  font-size: 17px;
  color: var(--black-color);
  font-weight: bold;
}

.title p {
  color: var(--navItems-color);
  font-weight: 600;
  font-size: 13px;
}

.clubMenu {
  border-top: 1px solid var(--event-menu-border);
}

.clubMenu a {
  font-size: 12px;
  color: var(--navItems-color);
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}

.clubMenu .active {
  color: #0092c1;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0092c1;
  top: 32px;
  left: 0;
}
