.nav button {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #555e61;
  font-weight: 600;
}

.nav .active {
  background-color: #0092c1;
  color: #fff;
}

.selector div {
  width: 100% !important;
}

.infoItemSection {
  border: 1px solid #e5e5e7;
  border-radius: 10px;
}

.infoItem {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: minmax(32px, 48px) minmax(140px, 1fr) repeat(
      7,
      minmax(30px, 48px)
    );
}

.infoIndex {
  border: 1px solid #e5e5e7;
  border-radius: 5px;
  color: #505658;
  font-size: 12.5px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}
.infoTitle {
  font-size: 13px;
  color: #505658;
}

.infoNumber {
  justify-self: flex-end;
  font-size: 13px;
  color: #505658;
}

.seeAllBtn {
  padding-bottom: 16px;
}

.seeAllBtn button {
  font-size: 12px;
  font-weight: bold;
  color: #143f36;
  border-bottom: 1px solid #143f36;
}

.titles {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: minmax(32px, 48px) minmax(140px, 1fr) repeat(
      7,
      minmax(30px, 48px)
    );
  background-color: #eee;
}
.titles p {
  font-size: 11px;
  color: #555e61;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6px 0;
}
