.CountryLeaguesList {
  width: 100%;
}

.pinnedLeague {
  border-bottom: 1px solid var(--matches-titles-color);
  margin-bottom: 8px;
}
.pinnedLeague h2 {
  font-size: 15px;
  color: var(--user-list-color);
}

.pinIcon {
  display: none;
  height: 24px;
  justify-content: center;
  align-items: center;
  order: 2;
  width: 24px;
  position: relative;
}
.pinIcon::before {
  background-color: transparent;
  border-radius: 50%;
  content: "";
  height: 24px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out;
  width: 24px;
}

.pinIcon:hover::before {
  background-color: #1d89ec;
  opacity: 0.15;
}

.pinImgContainer {
  position: absolute;
  right: 0px;
  top: 20%;
  background-color: var(--background--color);
}

.league {
  padding: 4px 0 6px 8px;
  transition: all 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  /* max-width: 174px; */
  width: 100%;
}

.league:hover {
  display: flex;
  background-color: var(--background--color);
  border-radius: 6px;
}

.league:hover .pinIcon {
  display: flex;
}

.league p {
  color: var(--user-list-color);
}

.showMoreBtn {
  display: flex;
  align-items: center;
  padding: 4px 9px 6px 8px;
  cursor: pointer;
}

.showMoreBtn p {
  font-size: 12px;
  color: var(--user-list-color);
  border-bottom: 1px solid var(--user-list-color);
  font-weight: 600;
  margin-right: 8px;
}

@media only screen and (max-width: 965px) {
  .pinnedLeague {
    margin-bottom: 0;
    padding-bottom: 8px;
  }
}

@media only screen and (max-width: 965px) {
}
