.footermenu {
  width: 18%;
}

.footerMenuTitle {
  padding-bottom: 9px;
}

.ball {
  border-radius: 50%;
  background-color: #0092c1;
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 6px;
}

.footerMenuTitle h3 {
  font-size: 16px;
  font-weight: 600;
  color: #001e28;
}

.listItem a {
  color: #001e28;
  font-size: 14.5px;
  font-weight: 500;
  line-height: 30px;
}

.listItem:hover a {
  text-decoration: underline;
}

@media only screen and (max-width: 965px) {
  .footermenu {
    width: 100%;
  }
}
