.clubmatches {
  /* margin-top: 8px; */
  margin-bottom: 8px;
}

.selector div {
  width: 100% !important;
}

.matchesTitle {
  color: var(--title-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
