.showMatcher {
  display: flex;
  flex-direction: column;
}

.standings {
  border-bottom: 1px solid #555e61;
}

.displayText {
  position: relative;
}

.displayText:hover::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #555e61;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.premierTitle {
  background-color: #eef7ff;
  border-radius: 10px;
}

.premierTitle h2,
.premierTitle a {
  font-size: 12.5px;
  color: #505658;
  font-weight: 600;
}
.premierTitle a {
  margin-left: 2px;
}
.premierTitle a:hover {
  text-decoration: underline;
}

.starIcon:hover path {
  fill: #ffcd00;
  stroke: #ffcd00;
}

.arrowIconBtn svg {
  transform: rotate(180deg);
}

.arrowIconRotate svg {
  transform: rotate(0deg) !important;
}

.showMatchesBtn {
  font-size: 12.5px;
  font-weight: 500;
  color: #555e61;
}

/* match */

.match {
  border-bottom: 1px solid #e5e5e7;
}

.matchesItems p {
  font-size: 13px;
  color: #071e27;
  font-weight: 500;
}

.match h4 {
  color: #071e27;
  font-size: 13px;
  font-weight: 600;
}

.starIcon svg {
  cursor: pointer;
}
.starIcon:hover path {
  fill: #ffcd00;
  stroke: #ffcd00;
}

.moreBtn {
  background-color: #ffffff;
  border: 1px solid #dee1e5;
  border-radius: 5px;
}

.moreBtn a {
  color: #797d7e;
  font-size: 10px;
}

.moreBtn:hover {
  background-color: #0092c1;
  border: none;
}

.moreBtn:hover a {
  color: #fff;
}
