.title {
  font-size: 15px;
  color: #001e28;
  margin-bottom: 14px;
}

.standings {
  border-bottom: 1px solid #555e61;
}

.showMatchesBtn {
  font-size: 12.5px;
  font-weight: 500;
  color: #555e61;
}

.moreMatches {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 6px;
}

.moreMatches button {
  color: #143f36;
  border-bottom: 1px solid #143f36;
  font-size: 12px;
  font-weight: bold;
}
