.formInfo {
  margin-bottom: 8px;
}
.title {
  background-color: var(--grey-color);
  border-radius: 5px;
  padding: 5px 10px;
}

.title p {
  font-size: 11px;
  color: var(--league-color);
  font-weight: 600;
}

.scoreInfo {
  column-gap: 2px;
}

.scoreInfo p {
  font-size: 11px;
  color: var(--league-color);
  font-weight: 600;
}
.incidentListItem {
  margin: 8px 12px;
}

.incidentTime {
  color: var(--navItems-color);
  font-size: 12px;
  font-weight: 700;
  min-width: 20px;
}
.card {
  align-items: center;
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  display: flex;
  height: 28px;
  justify-content: center;
  line-height: 1;
  min-width: 14px;
  padding-left: 6px;
  padding-right: 6px;
}

.firstTeam {
  justify-content: flex-start;
}

.secondTeam {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.secondTeam .incidentItem {
  flex-direction: row-reverse;
}

.card div {
  width: 12px;
  height: 17px;
  border-radius: 5px;
}

.card svg {
  color: var(--black-color);
}

.yellowCard div {
  background-color: #ffcd00;
}

.redCard div {
  background-color: #dc0000;
}

.incidentItem a {
  color: var(--title-color);
  font-weight: 700;
  font-size: 12px;
}

.incidentItem a:hover {
  text-decoration: underline;
  text-decoration-color: var(--black-color);
}

.incidentTipInfo {
  font-size: 10.5px;
  color: var(--navItems-color);
  font-weight: 400;
}

.penaltyScored {
  font-weight: 700;
  margin-right: 6px;
  align-items: center;
  display: flex;
  font-size: 12px;
}

.incidentName {
  font-size: 13px;
  line-height: 16px;
  color: var(--navItems-color);
  font-weight: 500;
}

.incidentName a {
  font-size: 11px;
  line-height: 16px;
  color: var(--navItems-color);
  font-weight: 500;
}

.assistanceColor {
  color: var(--navItems-color);
}

.penaltyScored {
  color: var(--black-color);
}
