@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background--color: #f1f1f1;
  --section-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background--color);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

img {
  height: 100%;
}
