.injuries {
  margin-bottom: 8px;
}
.title {
  background-color: var(--grey-color);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 21px;
}

.title p {
  color: var(--league-color);
  font-size: 12px;
  font-weight: 600;
}

.playList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
}

.player h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--title-color);
}
.player p {
  color: #73787a;
  font-size: 11px;
}

.even {
  justify-content: end;
  flex-direction: row-reverse;
}

.even .flag {
  margin-right: 0;
  margin-left: 8px;
}

.coaches {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.flagBorder {
  border: 1px solid var(--event-matches-border);
  padding: 7px 6px 8px 6px;
  border-radius: 100px;
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coachTwo {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
