.formInfo {
  margin-bottom: 8px;
}
.title {
  background-color: var(--grey-color);
  border-radius: 5px;
  padding: 5px 10px;
}

.title p {
  font-size: 12px;
  color: var(--league-color);
  font-weight: 600;
}

.playList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
}

.flagBorder {
  border: 1px solid var(--event-matches-border);
  padding: 7px 6px 8px 6px;
}

.player h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--title-color);
}
.player p {
  color: #73787a;
  font-size: 11px;
}

.even {
  justify-content: end;
  flex-direction: row-reverse;
}

.even .flag {
  margin-right: 0;
  margin-left: 8px;
}

.missingTeamTwoPlayers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.noMissedPlayer {
  color: var(--league-color);
  font-size: 12.5px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 16px;
  padding-left: 10px;
}
