.showMatcher {
  display: flex;
  flex-direction: column;
}

.standings {
  border-bottom: 1px solid #555e61;
}

.displayText {
  position: relative;
}

.displayText:hover::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #555e61;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.premierTitle {
  background-color: #eef7ff;
  border-radius: 10px;
}

.premierTitle h2,
.premierTitle a {
  font-size: 12.5px;
  color: #505658;
  font-weight: 600;
}
.premierTitle a {
  margin-left: 2px;
}
.premierTitle a:hover {
  text-decoration: underline;
}

.starIcon:hover path {
  fill: #ffcd00;
  stroke: #ffcd00;
}

.arrowIconBtn svg {
  transform: rotate(180deg);
}

.arrowIconRotate svg {
  transform: rotate(0deg) !important;
}

.showMatchesBtn {
  font-size: 12.5px;
  font-weight: 500;
  color: #555e61;
}
