.header {
  background-color: #003546;
  height: 75px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 57px;
}
