.searchInput input::placeholder {
  font-size: 12px;
  color: var(--input--color);
}

.searchInput input {
  background-color: var(--input-background-color);
  color: var(--input--color);
}

.serachItem {
  padding: 8px;
  width: 100%;
  column-gap: 12px;
  display: flex;
  align-items: center;
}
.searchedItemLink {
  display: flex;
}
.searchedItemLink:hover {
  background-color: rgb(200 205 205 / 20%);
}

.searchImage {
  align-items: center;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
  border: 1px solid var(--grey-color);
  display: flex;
  grid-area: participantImage;
  height: 36px;
  justify-content: center;
  width: 36px;
}

.searchImage img {
  height: 30px;
  object-fit: cover;
  width: 30px;
}

.searchInfo {
  display: flex;
  flex-direction: column;
}

.searchInfo h4 {
  color: var(--title-color);
  font-size: 13px;
  font-weight: 700;
}

.searchInfo p {
  color: var(--navItems-color);
  font-size: 11px;
  text-transform: uppercase;
}

.mobailSearchIcon {
  align-items: center;
  justify-content: center;
  border: 1px solid #0a5c76;
  border-radius: 10px;
  padding: 15px;
}
.mobailSearchIcon svg path {
  fill: #7ba4b1;
}

.mobileSearchForm {
  width: 100%;
}

.mobileSearchInput {
  border: 1px solid #c8cdcd;
  width: 100%;
}

.error {
  border: 1px solid red;
}

.modalHeader,
.modalContent {
  background-color: var(--white-color) !important;
}
.modalHeader div {
  color: var(--black-color) !important;
}

.darkModeChange {
  opacity: 100%;
  -webkit-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  transform: rotate(230deg);
  transition: all 0.2s;
  margin: 8px 0px 6px 23px;
}

@media only screen and (max-width: 965px) {
  .mobailSearchIcon {
    padding: 10px;
  }
}
