.support {
  border-radius: 50px;
  border: 1px solid #eeeeee;
  padding: 4px;
  margin-top: 27px;
}

.logoImgContainer {
  border-radius: 100px;
  background: #11adb1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 65px;
  transition: all 0.5s;
}

.logoImgContainer img {
  transition: all 0.5s;
}
.logoImgContainer a:hover img {
  transform: scale(1.07);
  opacity: 100%;
}

.support a:hover img {
  opacity: 80%;
}

.supportLinks {
  margin: 0 30px;
}
