.info {
  display: flex;
  flex-direction: column;
}

.drawContainer {
  overflow-x: auto;
}

.tableWrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(202px, 1fr));
  max-height: 70vh;

  column-gap: 8px;
  max-width: 600px;
  padding: 8px;
  border-radius: 8px;
}

/* width */
.drawContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.drawContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.drawContainer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.drawContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.drawTable {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  min-width: 202px;
}
.drawTableList {
  display: grid;
  row-gap: 12px;
  align-content: space-around;
  height: 100%;
}

.infoTableTitle {
  background-color: var(--grey-color);
  justify-content: space-between;
}

.drawContainer {
  background-color: var(--grey-color);
}

.infoTableTitle p {
  font-size: 12px;
  color: var(--table-text-color);
  width: 100%;
  text-transform: uppercase;
}

@media only screen and (max-width: 1150px) {
  .tableWrapper {
    max-width: 550px;
  }
}

@media only screen and (max-width: 965px) {
  .tableWrapper {
    max-width: 400px;
  }
}

@media only screen and (max-width: 429px) {
  .tableWrapper {
    max-width: 250px;
  }
}
