.footer {
  background-color: var(--white-color);
}

.footerItem {
  display: flex;
  padding-left: 16px;
}

@media only screen and (max-width: 965px) {
  .footer {
    padding: 0 15px;
  }

  .footerItem {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
