.matchItem {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  border-bottom: 1px solid var(--standings-border-color);
}

.matchItem a,
.matchItem p {
  font-size: 12px;
  color: var(--table-text-color);
}

.num {
  color: var(--title-color);
  font-size: 12.5px;
  font-weight: 600;
}

.numColor {
  background-color: #004682;
  border-radius: 50px;
}

.numColorYellow {
  background-color: #b8860b;
  border-radius: 50px;
}

.numColorYellow p,
.numColor p {
  color: #fff;
}

.tableWords {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.tableWords p {
  font-size: 12.5px;
  font-weight: 600;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellowColor {
  background-color: #f3a000;
}

.greenColor {
  background-color: #00a83f;
}

.redColor {
  background-color: #dc0000;
}

.teamLink:hover {
  text-decoration: underline;
  text-decoration-color: var(--black-color);
}

.imgName img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 965px) {
  .matchItem {
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  }
}

@media only screen and (max-width: 460px) {
  .matchItem {
    grid-template-columns: 5.5fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    padding-left: 4px;
  }

  .matchItem a,
  .matchItem p {
    font-size: 10px;
  }
  .imgName {
    column-gap: 0.2rem;
  }

  .imgName img {
    width: 16px;
    height: 16px;
  }
}
