.lineUP {
  margin-bottom: 8px;
}
.title {
  background-color: var(--grey-color);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}

.title p {
  color: var(--league-color);
  font-size: 12px;
  font-weight: 600;
}

.playList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
}

.player h2 {
  font-size: 13px;
  font-weight: 600;
  color: var(--title-color);
}
.player p {
  color: #73787a;
  font-size: 11px;
}

.even {
  justify-content: end;
  flex-direction: row-reverse;
}

.even .img {
  margin-right: 0;
  margin-left: 8px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.imgBorder {
  border: 1px solid var(--event-matches-border);
  padding: 7px 6px 8px 6px;
  border-radius: 100px;
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerTwo {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.num {
  font-size: 13px;
  font-weight: 600;
  color: var(--title-color);
  width: 16px;
}
.player a:hover {
  text-decoration: underline;
  text-decoration-color: var(--black-color);
}

@media only screen and (max-width: 400px) {
  .player h2 {
    font-size: 11px;
  }
  .num {
    font-size: 11px;
  }
  .player h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .player a {
    display: inline-grid;
    gap: 2px;
    grid-auto-flow: column;
  }
}
